@mixin underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: $secondaryColor;
}

@mixin boxShadow {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
}

@mixin paginationItem($background: $secondaryColor) {
  @include boxShadow;
  margin: auto 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  text-decoration: none;
  background-color: $background;
  color: $textColor;
}

@mixin button {
  @include boxShadow;
  outline: none;
  border: 0.1rem solid $secondaryColor;
  padding: 1rem 3rem;
  border-radius: 0.2rem;
  color: $backgroundColor;
  font-weight: bold;
  background-color: $secondaryColor;
  transition: 0.25s ease-in;
  cursor: pointer;

  &:hover {
    background-color: lighten($secondaryColor, 5);
  }

  &:active {
    background-color: darken($secondaryColor, 10);
    border: 0.1rem solid darken($secondaryColor, 15);
  }
}
