.ais-SearchBox .ais-SearchBox-form {
  @include boxShadow;
  display: flex;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  border: 0.2rem solid $backgroundColor;
  background-color: $backgroundSecondaryColor;
  transition: 0.2s ease-in;

  &:focus-within {
    border: 0.2rem solid $secondaryColor;
  }

  .ais-SearchBox-reset {
    border: none;
    background-color: $backgroundSecondaryColor;
  }

  .ais-SearchBox-input {
    outline: none;
    border: none;
    font-size: 2rem;
    background-color: $backgroundSecondaryColor;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  .ais-SearchBox-submit {
    display: none;
  }
}

.search-error {
  margin-top: 2rem;
  color: $primaryColor;

  &::after {
    font-family: "iconmonstr-iconic-font";
    content: "  \e0f5";
  }
}

.search-nomatches {
  margin-top: 2rem;
  color: $primaryColor;

  &::after {
    font-family: "iconmonstr-iconic-font";
    content: "  \e05a";
  }
}

.ais-Hits {
  margin-top: 2rem;
  width: 75%;

  .ais-Hits-list {
    list-style: none;

    .ais-Hits-item {
      display: flex;
      flex-direction: column;
      margin: 1rem auto;
      padding: 1rem 2rem;

      .search-hit-title {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        color: $textColor;

        &::before {
          font-family: "iconmonstr-iconic-font";
          font-size: 1.6rem;
          content: "\e04b  ";
        }

        .ais-Highlight-highlighted {
          @include underline;
          font-style: normal;
        }
      }

      .search-hit-activesubstance {
        display: flex;
        flex-direction: column;

        .ais-Highlight-highlighted {
          @include underline;
          font-style: normal;
        }
      }
    }
  }
}

.ais-Pagination .ais-Pagination-list {
  display: flex;
  margin: 2rem auto;
  list-style: none;

  .ais-Pagination-item > a {
    @include paginationItem;
  }

  .ais-Pagination-item > span {
    @include paginationItem($backgroundSecondaryColor);
  }

  .ais-Pagination-item--selected > a {
    @include paginationItem(lighten($secondaryColor, 25));
  }
}

@media (max-width: 768px) {
  .ais-Hits {
    width: 95%;
  }
}
