.header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryColor;

  a {
    text-decoration: none;

    .header-title {
      margin-left: 2rem;
      color: $backgroundColor;
    }
  }

  .header-buttons {
    display: flex;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;

    button {
      margin-left: 1rem;
      border: none;
      font-size: 2rem;
      background-color: $primaryColor;
      color: $backgroundColor;
      cursor: pointer;
    }
  }
}
