.product .product-container {
  min-height: calc(100vh - 9rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 96rem;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
