.product-details {
  margin-bottom: 5rem;

  .product-details-error {
    text-align: center;
    font-weight: normal;
    color: $primaryColor;

    &::after {
      font-family: "iconmonstr-iconic-font";
      content: "  \e0f5";
    }
  }

  .product-details-title {
    text-align: center;
    margin-bottom: 3rem;
  }

  .product-details-subtitle {
    @include underline;
    font-weight: bold;
  }

  .product-details-items {
    margin-left: 2rem;
  }
}
