.product-reviews {
  .product-reviews-error {
    text-align: center;
    font-weight: normal;
    color: $primaryColor;

    &::after {
      font-family: "iconmonstr-iconic-font";
      content: "  \e0f5";
    }
  }

  .product-reviews-nomatches {
    text-align: center;
    font-weight: normal;
    color: $primaryColor;

    &::after {
      font-family: "iconmonstr-iconic-font";
      content: "  \e05a";
    }
  }

  .product-reviews-box {
    @include boxShadow;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 0.2rem;
    background-color: lighten($primaryColor, 62);

    .product-reviews-box-title {
      text-align: center;
      margin-bottom: 3rem;
    }

    .product-reviews-box-rating-list {
      display: flex;
      justify-content: space-around;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-reviews-box-rating-list-subtitle {
          @include underline;
          font-weight: bold;
          text-align: center;
        }

        span {
          color: $primaryColor;
        }

        .product-reviews-box-rating-list-text {
          font-weight: bold;
          color: $primaryColor;
        }
      }
    }
  }

  .product-reviews-container {
    margin-top: 5rem;

    .product-reviews-review {
      margin-bottom: 2.5rem;

      .product-reviews-review-text .product-reviews-review-name {
        @include underline;
        font-weight: bold;
      }

      .product-reviews-review-rating-list {
        display: flex;
        justify-content: space-around;
        list-style: none;

        .product-reviews-rating-list-subtitle {
          font-size: 1.3rem;
          font-weight: bold;
          color: $primaryColor;
        }

        li span {
          font-size: 1.3rem;
          color: $primaryColor;
        }
      }

      .product-reviews-review-date {
        font-weight: bold;
        font-size: 1.3rem;
        color: $secondaryColor;
      }
    }

    .product-reviews-container-pagination-list {
      display: flex;
      justify-content: center;
      margin: 2rem auto;
      list-style: none;

      li > a {
        @include paginationItem;
      }

      li.disabled > a {
        @include paginationItem($backgroundSecondaryColor);
      }

      li.active > a {
        @include paginationItem(lighten($secondaryColor, 25));
      }
    }
  }
}

@media (max-width: 768px) {
  .product-reviews .product-reviews-box .product-reviews-box-rating-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-reviews-review .product-reviews-review-rating-list {
    flex-direction: column;
  }
}
