.product-add-review {
  @include boxShadow;
  position: relative;
  margin: 5rem 0;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 0.2rem;

  .product-add-review-success {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1rem);
    background-color: rgba(250, 250, 250, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s ease-in;

    .product-add-review-success-text {
      font-weight: bold;

      &::after {
        font-family: 'iconmonstr-iconic-font';
        content: '  \e0f1';
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .product-add-review-elements {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .product-add-review-elements-rating-list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
  
        div {
          display: flex;
          flex-direction: column;
  
          span:nth-child(2) span {
            color: $secondaryColor;
          }
        }
      }
  
      .product-add-review-elements-inputs {
        height: 20rem;
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        textarea {
          @include boxShadow;
          height: 15rem;
          width: 100%;
          box-sizing: border-box;
          border-radius: 0.2rem;
          padding: 1rem;
          outline: none;
          border: 1px solid $backgroundColor;
          background-color: $backgroundSecondaryColor;
  
          &:focus {
            border: 1px solid $secondaryColor;
          }
        }
  
        input {
          @include boxShadow;
          width: 50%;
          box-sizing: border-box;
          border-radius: 0.2rem;
          padding: 0.25rem 1rem;
          outline: none;
          border: 1px solid $backgroundColor;
          background-color: $backgroundSecondaryColor;
  
          &:focus {
            border: 1px solid $secondaryColor;
          }
        }

        .product-add-review-elements-inputs-error {
          border: 1px solid red; 
        }
      }
    }

    .product-add-review-errors {
      text-align: center;
      color: red;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    button {
      @include button;
      align-self: center;
    }
  }
}

@media(max-width: 768px) {
  .product-add-review form .product-add-review-elements {
    flex-direction: column;
    justify-content: center;

    .product-add-review-elements-inputs {
      margin: 3rem 0;
      width: 95%;
      align-items: center;

      textarea,input {
        width: 95%
      }
    }
  }
}